/* Resetear márgenes y rellenos predeterminados para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluir bordes y rellenos en el modelo de caja */
}

/* Estilo para el cuerpo de la página */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Asegura que el cuerpo ocupe el 100% de la altura de la pantalla */
    background-image: url(../img/mercedes-amg-gt-s-en-una-pista_2560x1600_xtrafondos.com.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', sans-serif; /* Cambia el tipo de letra a Arial o cualquier otro de tu elección */
}

/* Estilo para el contenedor de inputs */
.box-inputs {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: #000000; /* Color de fondo inicial */
    border-radius: 7px;
    text-align: center;
    font-size: 1.2em;
    color: white;
    transition: background-color 0.3s ease; /* Agregado para una transición suave */
}

.box-inputs:hover {
    background-color: #c80d0d; /* Color de fondo al hacer hover */
}


/* Estilo para los elementos de input */
input {
    border: 1px solid #ae2727;
    border-radius: 5px;
    width: 100px;
    font-family: cursive;
}

/* Estilo para el contenedor de la barra de progreso */
.sta-Bars {
    position: relative;
    width: 500px;
    margin: 8px 0 0 53px;
    color: white;
    font-family: cursive;
}

/* Resto de los estilos se mantienen igual */