*{
    margin: 0;
    padding: 0;

}
.main-nav{
    width: 100%;
    height: 60px;
    background-color: rgb(80, 147, 202);
}

.contenedores{
    display: grid;
    grid-template: "empty-left  main-nav    empty-right"
                   "empty-left  imgastro    empty-right"/
                    1fr         1600px      1fr;
}
.main-nav{
    grid-area: main-nav;
}
.main-ul{
    list-style: none;
}
.imgastro{
    grid-area: imgastro;
    width: 1600px;
<<<<<<< HEAD
    height: 630px;
=======
    height: 550px;
>>>>>>> 37b8bb67d5f80c2cd109700c6da2ebeacc864b00
}
.namber1{
    list-style: none;
    font-family: cursive;
<<<<<<< HEAD
    margin-left: 10.1em;
=======
    margin-left: 10.5em;
>>>>>>> 37b8bb67d5f80c2cd109700c6da2ebeacc864b00
    margin-top: 1.2em;
}
.img1{
    width: 100px;
    margin-top: 1.0em;
    margin-left: 11.0em;
    box-shadow: 2px 5px 55px  black;
    cursor: pointer;
}
.namber2{
    list-style: none;
    font-family: cursive;
    margin-left: 40.3em;
    position: absolute;
    margin-top: -8.8em;
}
.img2{
    width: 120px;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 21.1em;
    box-shadow: 2px 5px 55px  black;
    cursor: pointer;
}
.namber3{
    list-style: none;
    font-family: cursive;
    margin-left: 64.2em;
    position: absolute;
    margin-top: -8.8em;
}
.img3{
    width: 128px;
    position: absolute;
    margin-top: 0.9em;
    margin-left: 49.1em;
    box-shadow: 2px 5px 55px  black;
    cursor: pointer;
}
.namber4{
    list-style: none;
    font-family: cursive;
    margin-left: 93.5em;
    position: absolute;
    margin-top: -8.8em;
}
.img4{
    width: 138px;
    position: absolute;
    margin-top: 0.9em;
    margin-left: 78.3em;
    box-shadow: 2px 5px 55px  black;
    cursor: pointer;
}
.l1{
    list-style: none;
    font-family: cursive;
    position: absolute;
    margin-top: 0.8em;
<<<<<<< HEAD
    margin-left: 21.6em;
    cursor: pointer;
    color: aliceblue;
    text-shadow: 3px 4px 5px blue;
=======
    margin-left: 21.5em;
    cursor: pointer;
    color: aliceblue;
>>>>>>> 37b8bb67d5f80c2cd109700c6da2ebeacc864b00
}
.che{
    position: absolute;
    width: 100px;
    margin-left: 0.2em;
    font-family: cursive;
<<<<<<< HEAD
    cursor: pointer;
=======
>>>>>>> 37b8bb67d5f80c2cd109700c6da2ebeacc864b00
}
.l2{
    list-style: none;
    font-family: cursive;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 31.5em;
    cursor: pointer;
    color: aliceblue;
<<<<<<< HEAD
    text-shadow: 3px 4px 5px blue;
=======
>>>>>>> 37b8bb67d5f80c2cd109700c6da2ebeacc864b00
}
.cho{
    position: absolute;
    width: 140px;
    margin-left: 8.8em;
    margin-top: 0.6em;
<<<<<<< HEAD
    cursor: pointer;
=======
>>>>>>> 37b8bb67d5f80c2cd109700c6da2ebeacc864b00
}
.l3{
    list-style: none;
    font-family: cursive;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 40.3em;
    cursor: pointer;
    color: aliceblue;
<<<<<<< HEAD
    text-shadow: 3px 4px 5px blue;
=======
>>>>>>> 37b8bb67d5f80c2cd109700c6da2ebeacc864b00
}
.l4{
    list-style: none;
    font-family: cursive;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 50.8em;
    cursor: pointer;
    color: aliceblue;
<<<<<<< HEAD
    text-shadow: 3px 4px 5px blue;
=======
>>>>>>> 37b8bb67d5f80c2cd109700c6da2ebeacc864b00
}
.l5{
    list-style: none;
    font-family: cursive;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 67.6em;
    cursor: pointer;
    color: aliceblue;
<<<<<<< HEAD
    text-shadow: 3px 4px 5px blue;
=======
>>>>>>> 37b8bb67d5f80c2cd109700c6da2ebeacc864b00
}
.l6{
    list-style: none;
    font-family: cursive;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 75.6em;
    cursor: pointer;
    color: aliceblue;
<<<<<<< HEAD
    text-shadow: 3px 4px 5px blue;
}
.img10{
    background-color: black;
    width: 102px;
    margin-left: 91.0em;
    margin-top: -0.2em;
}
.rueda1{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 16.5em;
    margin-left: 125px;
    border-radius: 72px;
}
.imgf{
    position: absolute;
    width: 100.3px;
    border-radius: 60px;
    cursor: pointer;
}
.rueda2{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 0.0em;
    margin-left: 1479px;
    border-radius: 72px
}
.imgf2{
    
    width: 100px;
    height: 100px;
    margin-top: 0.0em;
    border-radius: 72px;
    cursor: pointer;
=======
}
.img10{
    background-color: black;
    width: 110px;
    margin-left: 90.0em;
>>>>>>> 37b8bb67d5f80c2cd109700c6da2ebeacc864b00
}
