body{
 background-color: blue;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-family: "waltograph42";
    font-size: 9em;
    color: white;
}

@font-face {
    font-family: "waltograph42";
    src: url(../fonst/waltograph42.otf);

}