*{
    top: 0;
}
.logos{
    margin-top: 700px;
    align-items: center;
    text-align: center;
    display:flex;
    margin-left: 500px;
    gap: 50px;
    cursor: pointer;
}
.img1{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    border: solid 1px black;
}
.img2{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    border: solid 1px black;
}
.img3{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    border: solid 1px black;
}
.img4{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    height: 200px;
    border: solid 1px black;
}
.logos img:hover {
     transform: scale(1.2);
}
.mivideo{
    position: fixed;
    width: 100vw;
    z-index: -1;
}
.alert{
    background-color: aqua;
}
.alert{
	background-color: black;
	color: white;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	border-radius: 10px;
	margin-top: -500px;
}