*{
    margin: 0;
    top: 0;
    background-color: rgb(58, 46, 46);
}
.logos{
    margin-top: 700px;
    align-items: center;
    text-align: center;
    display:flex;
    margin-left: 600px;
    gap: 20px;
    cursor: pointer;
}
.img1{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    border: solid 1px black;
}
.img2{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    border: solid 1px black;
}
.img3{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    border: solid 1px black;
}
.img4{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    border: solid 1px black;
}