*{
    top: 0;
    margin: 0;
}
.logos{
    margin-top: 500px;
    align-items: center;
    text-align: center;
    display:flex;
    margin-left: 450px;
    gap: 50px;
    cursor: pointer;
}
.img1{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    border: solid 1px black;
}
.img2{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    border: solid 1px black;
}
.img3{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    border: solid 1px black;
}
.img4{
    box-shadow: 15px 10px 15px black;
    width: 200px;
    height: 200px;
    border: solid 1px black;
}
.logos img:hover {
     transform: scale(1.2);
}
.alert{
    background-color: aqua;
}
.alert{
    font-family: cursive;
    background-color: transparent;
	color: rgb(255, 255, 255);
	padding: 20px;
	text-align: center;
	font-size: 30px;
	border-radius: 10px;
	margin-top: -800px;
    font-size: 2.5em;
}
body {
    background-image: url('../img/CODIGO.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   button:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }
   .bt{
    margin-left: 900px;
    margin-top: 200px;
   }
   a{
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    color: black;
   }