*{
    /* background: red; */
   background-color: rgb(88, 82, 82);
}
.block{
    display: inline-block;
}
/* ACCEDE A LAS IMAGENES QUE ESTÁN DENTRO DE BLOCK */
.block img {
    width: 600px;
    height: 300px;
}


.centrado{
    text-align: center;
}
