*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.boton-menu{
    background-color: rgb(0, 0, 0);
    width: 120px;
    height: 30px;
    color: white;
    top: 930px;
    position: absolute;
}
.boton-menu:hover{
    background-color: aquamarine;
    color: white;
    cursor: pointer;
}
nav a{
    text-decoration: white;
    color: white;
    display: block;
    padding: 0 3em;
}
nav{
    font-size: 1.5em;
    justify-content: center;
}
nav ul{
    list-style: none;
    padding: 0;
    display: table;
    position: absolute;
    width: 100%;
    background-color: rgb(97, 128, 67);
    text-align: center;
    justify-content: center;
}
nav>ul>li{
    float: left;
    width: 320px;
    line-height: 70px;
}
.menu:hover{
    background-color: aquamarine;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
nav li{
    position: relative;
}
nav li li{
    max-height: 0;
    overflow: hidden;
}
nav li:hover >ul >li{
    visibility: visible;
    max-height: 400px;
    overflow: visible;
}
.b1{
    border-radius: 10px;
}
nav ul ul ul{
    left: 100px;
    top: 0;
}