h2{
    font-size: 4.5em;
    text-align: center;
    font-family: cursive;
    color: red ;
    box-shadow: 5px 25px 15px red;
}
.orden{
    display: flex;
    justify-content: center;
}
.dias{
    text-align: center;
    font-size: 3.5em;
    margin: 50px;
    box-shadow: 1px 15px 15px red;
}




.orden2{
    display: flex;
    margin-left: 390px;
    justify-content: center;
}
.numero1{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 25px;
    margin-right: 105px;
}




.orden3{
    display: flex;
    margin-right: -160px;
    justify-content: center;
}
.numero2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 25px;
    margin-right: 112px;
}




.orden4{
    display: flex;
    margin-right: -160px;
    justify-content: center;
}
.numero3{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 25px;
    margin-right: 105px;
}




.orden5{
    display: flex;
    margin-right: -160px;
    justify-content: center;
}
.numero4{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 25px;
    margin-right: 105px;
}




.orden6{
    display: flex;
    margin-right: -160px;
    justify-content: center;
}
.numero5{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 25px;
    margin-right: 105px;
}
